.Database {
  font-family: "Georgia", serif;
  color: #1c6748; 
  background-color: #b7c994;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.title {
  text-align: center;
}

.body {
  text-align: center;
}