* {
  font-family: "Gill Sans", sans-serif;
}

.List {
  top: 0%;
  padding: 0.5rem 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Color palette from: https://colorhunt.co/palette/1c67583d8361d6cda4eef2e6
#1C6758
#3D8361
#D6CDA4
#EEF2E6 */
